[submodule "src/Vendors/googletest"]
	path = src/Vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "src/Vendors/sol2"]
	path = src/Vendors/sol2
	url = https://github.com/ThePhD/sol2.git
